<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chart</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    {{>header}}

    <main>
      <!-- Container for main content -->
      <section class="container">
        <h1>Diabetes Tracker and Food Recommendations</h1>

        <section class="info-section">
          <h2>Diabetes in the USA</h2>
          <p>
            Over 34 million Americans have diabetes, and another 88 million have
            prediabetes. Diabetes is a chronic condition that can affect many
            aspects of your life.
          </p>
        </section>

        <!-- Input Section for Blood Sugar Level -->
        <section class="input-section">
          <label for="bloodSugar">Enter your blood sugar level (mg/dL): </label>
          <input 
            type="number"
            id="bloodSugar"
            placeholder="Blood Sugar"
            min="50"
            max="500"
          />
          <button onclick="updateChart()">Add Data</button>
        </section>

        <!-- Chart Section -->
        <section class="chart-section">
          <h2>Your Blood Sugar Levels</h2>
          <canvas id="bloodSugarChart"></canvas>
        </section>
    </main>
    <div id="foodRecommendations"></div>
    <!-- Food Recommendations Section -->
        <section class="recommendations">
          <h2>Food Recommendations</h2>

  <div id="foodRecommendations">
  <form id="recipeSearchForm" action="/chart" method="GET">
    <label for="searchInput">Search for recipes:</label>
    <input type="text" id="searchInput" name="q" placeholder="Example: Chicken">
    <button type="submit">Search</button>
  </form>

  {{#if food.length}}
    {{#each food}}
      {{#if this.label}}
      <div class="food-item">
        <h3>{{label}}</h3>
        <p>Source: {{source}}</p>
        <img src="{{image}}" alt="{{label}}">
        <p><a href="{{url}}" target="_blank">View Recipe</a></p>
        <p>Calories: {{calories}} kcal</p>
        <p>Sugar: {{sugar}} g</p>
        <button class="saveFood" data-id="{{this.id}}" data-label="{{label}}" data-source="{{source}}" data-image="{{image}}" data-url="{{url}}" data-calories="{{calories}}" data-sugar="{{sugar}}">
          Save Selection
        </button>
      </div>
      {{/if}}
    {{/each}}
  {{else}}
    <p>No food recommendations available at the moment.</p>
  {{/if}}
</div>


  </section>

    {{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
